body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu";
}

.dark_theme {
    backdrop-filter: brightness(60%);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.main_link {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.6s;
}



.main_link:hover {
    color: #3CB878;
}

.nav_menu {
    display: flex;
    align-items: center;

}

.nav_list {
    display: flex;
}

.nav_item {
    margin-right: 25px;
}

.theme_btn {
    margin-right: 25px;
    
}

.nav_item svg {
    fill: #fff;
    transition: 0.6s;
}

.nav_item svg:hover {
    fill: #3CB878;
}

.line {
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.header_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 27px;
}

.header_link {
    transition: 0.6s;
}

.header_link:hover {
    color: #3CB878;
}

main {
    margin-top: 54px;
}

.main_container {
    width: 444px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.dark_theme .main_container {
    width: 444px;
    margin: 0 auto;
    background: rgb(10, 10, 30);
    box-shadow: 0px 4px 18px rgb(10, 10, 50);
}

.form {
    padding: 34px 60px 38px 60px;
    margin: 0 auto;
    position: relative;
}

.box {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.sign_with {
    display: grid;
    grid-template-rows: 25px 48px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.sign_with h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.dark_theme .sign_with h1 {
    color: rgb(90, 90, 90);
}

.log_in_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    justify-self: end;
    transition: 0.6s;
}

.log_in_link:hover {
    text-decoration: underline;
    color: #01813F;
}

.fb_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 46px;
    border-radius: 5px;
    background: #305DB8;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.6s;
}

.fb_button:hover {
    background: #022263;
}

.fb_button .line {
    width: 1px;
    height: 28px;
    margin-left: 14px;
    margin-right: 18px;
    background: #0A162F;
    opacity: 0.1;
}

.dark_theme .fb_button {
    color: rgb(90, 90, 90);
    background: rgb(15, 15, 70);
}

.dark_theme .fb_button:hover {
    background: rgba(15, 15, 100);
}

.dark_theme .fb_button .line {
    background: rgb(255, 255, 255);

}

.google_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 46px;
    border-radius: 5px;
    background: #DF4A32;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.6s;
}

.google_button:hover {
    background: #AB1F09;
}

.google_button .line {
    width: 1px;
    height: 28px;
    margin-left: 7px;
    margin-right: 30px;
    background: #2B0D09;
    opacity: 0.1;
}

.dark_theme .google_button {
    color: rgba(255, 255, 255, 0.381);
    background: rgb(70, 15, 15);
}

.dark_theme .google_button:hover {
    background: rgb(100, 15, 15);
}

.dark_theme .google_button .line {
    background: rgb(255, 255, 255);

}

.break {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
}

.break p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.line_break {
    width: 152px;
    height: 1px;
    background: #F2F2F2;
}

.dark_theme .line_break {
    background: rgba(255, 255, 255, 0.381);
}

.fields {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 12px;
}

.field {
    width: 100%;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    transition: 0.6s;
}

.dark_theme .field {
    background-color: rgb(70, 70, 70);
    border: 1px solid rgb(70, 70, 100);
}

.field::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    transition: 0.6s;
}

.dark_theme .field::placeholder {
    color: rgb(100, 100, 100);
}

.field:focus {
    position: relative;
    bottom: 1px;
    /* color: rgb(67, 67, 67); */
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.dark_theme .field:focus {
    background-color: rgb(100, 100, 100);
}

.dark_theme.field::placeholder {
    color: rgb(50, 50, 50);
}

.field:focus::placeholder {
    color: #434343;
}

.fields .button {
    width: 100%;
    height: 46px;
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.6s;
}

.dark_theme .fields .button {
    background: rgb(15, 70, 15);
    color: #FFFFFF;
}

.fields .button:hover {
    background: #01813F;
}

.dark_theme .fields .button:hover {
    background: rgb(15, 100, 15);
}

.terms {
    color: #3CB878;
    margin-left: 4px;
}

.terms:hover {
    text-decoration: underline;
    color: #01813F;
}

.checkbox {
    position: relative;
}

.checkbox_input {
    appearance: none;
    position: absolute;
}

.checkbox_label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 28px;
    color: #434343;
}

.checkbox_label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox_label::after {
    content: "";
    display: block;
    opacity: 0;
    width: 16px;
    height: 18px;
    background: url(../img/checked.svg) no-repeat;
    background-size: 16px 18px;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 2;
    color: rgba(60, 184, 120, 1);
    transition: 0.2s;
}

.checkbox_input:checked + .checkbox_label::after {
    opacity: 1;
}


